@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,300italic,400italic,700,900,700italic,900italic|Roboto+Slab:100,300,400,100,300,700|Roboto+Condensed:400,300,300italic|Roboto:400,100,300,500,700|Raleway:400,700,500,600,300,200|Lusitana|Ovo|Nixie+One|Libre+Baskerville:400,700,400italic|Yeseva+One|Merriweather:300,400,900,700|Merriweather+Sans:400,300|Playfair+Display:400,900,900italic,400italic,700,700italic|Playfair+Display+SC:400,700,900|Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic|Droid+Serif:400,700|Open+Sans:400,800,300,600,700|Sanchez|Rufina:400,700|Sintony|Oxygen:400,300,700|Noto+Serif:400,700|Noto+Sans:400,700|Vidaloka|Lora:400,700|Quicksand:400,300,700|Abril+Fatface|Josefin+Sans:400,100,300,600,700|Quattrocento:400,700|Quattrocento+Sans:400,700,400italic,700italic|Suranna|Martel:400,800,700,900,600|Martel+Sans:400,600,700,300,200);
@import url('https://fonts.googleapis.com/css2?family=Almendra:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Astloch:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almendra+Display&family=Eagle+Lake&family=Eczar:wght@400;500&family=Neuton:wght@200&family=Spectral&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aubrey&family=Emilys+Candy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Federant&display=swap');
@import url('https://fonts.googleapis.com/css?family=Karma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

:root {
  --black: #111111;
  --white: #fdfdfd;
  --blueish: #add8e6;
  --green: #22cc88;
  --blue: #0055ff;
  --purple: #8855ff;
  --purpleSh: #b666d2;
  --red: #ff0055;
  --orange: #ee4444;
  --yellow: #ffcc00;
  --mustard: #ffaa00;
  --pink: #ffc1cc;
  --lili: #b19cd9;
  --lila: #AE04CC;
}
@font-face {
    font-family: 'salomeregular';
    src: url(fonts/salome-webfont-webfont.eot);
    src: url(fonts/salome-webfont-webfont.eot?#iefix) format('embedded-opentype'), url(fonts/salome-webfont-webfont.woff2) format('woff2'), url(fonts/salome-webfont-webfont.woff) format('woff'), url(fonts/salome-webfont-webfont.ttf) format('truetype'), url(fonts/salome-webfont-webfont.svg#salomeregular) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quartobold';
    src: url(fonts/quarto-bold-webfont.eot);
    src: url(fonts/quarto-bold-webfont.eot?#iefix) format('embedded-opentype'), url(fonts/quarto-bold-webfont.woff2) format('woff2'), url(fonts/quarto-bold-webfont.woff) format('woff'), url(fonts/quarto-bold-webfont.ttf) format('truetype'), url(fonts/quarto-bold-webfont.svg#quartobold) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ideal Sans Book';
    src: url(fonts/IdealSans-Book.eot);
    src: url(fonts/IdealSans-Book.eot?#iefix) format('embedded-opentype'), url(fonts/IdealSans-Book.woff2) format('woff2'), url(fonts/IdealSans-Book.woff) format('woff'), url(fonts/IdealSans-Book.ttf) format('truetype'), url(fonts/IdealSans-Book.svg#IdealSans-Book) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'First Reign PERSONAL USE ONLY Regular';
    src: url(fonts/FirstReignPersonalUseOnlyRegular-gxnD1.otf);
    /* src: url(fonts/IdealSans-Book.eot?#iefix) format('embedded-opentype'), url(fonts/IdealSans-Book.woff2) format('woff2'), url(fonts/IdealSans-Book.woff) format('woff'), url(fonts/IdealSans-Book.ttf) format('truetype'), url(fonts/IdealSans-Book.svg#IdealSans-Book) format('svg'); */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bilbo Hand';
    src: url(fonts/BilboHandRegular-L3MZ.ttf);
    /* src: url(fonts/IdealSans-Book.eot?#iefix) format('embedded-opentype'), url(fonts/IdealSans-Book.woff2) format('woff2'), url(fonts/IdealSans-Book.woff) format('woff'), url(fonts/IdealSans-Book.ttf) format('truetype'), url(fonts/IdealSans-Book.svg#IdealSans-Book) format('svg'); */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Deutsch Gothic';
    src: url(fonts/DeutschGothic-RAMA.ttf);
    /* src: url(fonts/IdealSans-Book.eot?#iefix) format('embedded-opentype'), url(fonts/IdealSans-Book.woff2) format('woff2'), url(fonts/IdealSans-Book.woff) format('woff'), url(fonts/IdealSans-Book.ttf) format('truetype'), url(fonts/IdealSans-Book.svg#IdealSans-Book) format('svg'); */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "initial";
    src: url('https://fonts.gstatic.com/s/unifrakturmaguntia/v7/7KWy3ymCVR_xfAvvcIXm3wh3zWhftzIdHBsuU0JwdCQ.woff2');
}

@font-face {
    font-family: 'argon';
    src: url(fonts/argon-webfont.eot);
    src: url(fonts/argon-webfont.eot?#iefix) format('embedded-opentype'), url(fonts/argon-webfont.woff2) format('woff2'), url(fonts/argon-webfont.woff) format('woff'), url(fonts/argon-webfont.ttf) format('truetype'), url(fonts/argon-webfont.svg#argon_personalregular) format('svg');
    font-weight: normal;
    font-style: normal;
}

body { 
    margin: 0; 
    padding: 0; 
    zoom: 1;
    background-color: black;
    height: 100vh;
    margin: 0rem;
    overflow-x: hidden;  
}
h1, h2, p { margin: 0; padding: 0; }
p { -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; }
a {text-decoration: none;}
.black {
    color: #000;
    font-weight: 300;
}
.black-overlay {
    background: linear-gradient( rgba(20,20,20, .5), rgba(20,20,20, .5));
}
@keyframes rotate {
    from {
      rotate: 0deg;
    }
    
    50% {
      scale: 1 1.5;
    }
    
    to {
      rotate: 360deg;
    }
}
hr.hr-1 {
    /* padding: 0;
    border: none;
    border-top: medium double #8c8c8c;
    color: #8c8c8c;
    text-align: center; */
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
  
hr.hr-1:after {
    /* content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: transparent; */
}
.site-wrapper {
    width: 100%;
    margin: 0;
    padding: 0; 
}

#blob {
    background-color: white;
    height: 30vmax;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    /* background: linear-gradient(to right, aquamarine, mediumpurple, rgb(115, 115, 53), pink); */
    background: linear-gradient(180deg, var(--purple), var(--blue), var(--blueish), var(--red), var(--purpleSh), var(--orange), var(--black), var(--lila), var(--yellow), var(--lili), var(--green), var(--blue), var(--pink));
    background-size: 100% 100%;
    animation: rotate 20s infinite;
    opacity: 0.8;
}
  
#blur {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(12vmax);
}
.container { width: 960px; margin: 0 auto; }

.container.intro {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-wrapper {
    position: relative;
    width: 900px;
    margin: 0 auto;
    z-index: 2;
}

.site-title {
    /* margin-top: 70px; */
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: #fff;
}
.site-title .top {
    font-size: 30px;
}
.site-title .top span {
    font-size: 40px;
}
.site-title .bottom {
    font-size: 20px;
    font-style: italic;
    font-weight: 100;
    color: pink;
}

.intro-wrapper .colophon {
    width: 100%;
    margin: 50px auto;
    font-size: 14px;
    color: #bbb;
}
    
.intro-wrapper .colophon a {
    text-decoration: underline;
    color: #bbb;
}
.intro-wrapper .colophon p {
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    letter-spacing: 0.3px;
    margin: 5px auto;
    line-height: 1.5;
}

.intro-wrapper .colophon .column1 {
    display: inline-block;
    width: 66%;
    margin: 10px 10px 10px 25px;
    vertical-align: top;
}
.intro-wrapper .colophon .column2 {
    display: inline-block;
    width: 25%;
    margin: 10px;
    vertical-align: top;
}

.site-title.section-intro .small {
    font: 30px/32px 'Playfair Display', Georgia, serif; 
    letter-spacing: .06em; 
    margin-left: 30px; 
    display: block;
}

.section-gnat-bull {transition: filter 0.5s ease; z-index: 9; position: relative; background: url(https://img.freepik.com/premium-vector/angry-bull-runs-towards-opposite-direction-hand-drawn-sketch-vector-illustration_666729-762.jpg?w=740) no-repeat; background-size: contain; padding: 90px 0 100px;
    overflow: hidden;
    background-position: right;
    background-color: white;
    background-attachment: fixed !important;
}

.section-gnat-bull:after, .section-prophet:after, .section-brain:after, .section-bird-bat:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    pointer-events: none;
    transition: opacity 0.5s ease;
    opacity: 1; /* Initially invisible */
}
.section-gnat-bull h2 { font: 70px/68px 'Playfair Display', Georgia, serif; color: #730000; text-transform: uppercase; margin: 0 0 60px 20px;position: relative;z-index: 1; }
.section-gnat-bull p {font: 16px/30px 'Fauna One', Georgia, serif; max-width: 540px; color: #000; margin: 0 0 12px 20px;position: relative;z-index: 1; }
.section-gnat-bull .avatar img { margin: 0 0 10px 20px; }
.section-gnat-bull .caption { margin: 0 0 40px 20px; color: #000; }
.section-gnat-bull .caption a { color: #686868; }
.section-gnat-bull .caption a:hover { background-color: #0cf; }

/* .section-two-bags { background: #ddd9d1 url(../images/architecture.png) no-repeat center; background-size: cover; height: 100vh; }
.section-two-bags h2 { font: 80px/66px 'Fugaz One', serif; text-transform: uppercase; color: #817a74; margin: 0 0 30px 20px; opacity: .6; }
.section-two-bags h2 i { font-family:'Oleo Script', serif; font-style: normal;}
.section-two-bags p { font: 17px/28px 'Monda', Arial, sans-serif; color: #817a74; width: 380px; margin-left: 250px; }
.section-two-bags .caption { color: #999; float: left; width: 200px; margin: 4px 0 20px 20px; }
.section-two-bags .caption a:last-child { margin-left: 0; }
.section-two-bags .caption a {
    font: 14px/16px 'Unica One', Helvetica, Arial, sans-serif;
    letter-spacing: .1em;
    color: #999;
    text-transform: uppercase;
    text-decoration: none;
} */
.container-3 {
    background: url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 700px;
    padding: 50px 0;
}
.container-3 a {
    color: #fff;
}
.container-3 h2 {
    font-family: 'salomeregular';
    font-size: 50px;
}

.container-3 p {
    font-family: 'Oxygen', sans-serif;
    font-size: 20px;
    line-height: 2;
    font-weight: 100;
    
}

.container-3 p a {
    font-weight: 300;
}

.container-3 .text-wrapper {
    width: 750px;
    margin-top: 70px;
    margin-left: 0px;
}

.section-prophet {height: 100vh; position: relative;  z-index: 9; transition: filter 0.5s ease; font-family: 'Neuton', serif;line-height: 1.5; background-color: #101010; color: #999; color: rgba(255,255,255,0.75); background-image: url(https://img.freepik.com/premium-vector/praying-hand-illustration_73644-368.jpg?w=740); background-size: contain; background-attachment: fixed; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; -webkit-text-rendering: optimizeLegibility; text-rendering: optimizeLegibility; background-position: left; background-color: white;background-repeat: no-repeat;}
.section-prophet .container { width: 100%; overflow: hidden; padding: 40px 180px 140px; box-sizing: border-box; }
.section-prophet .caption { margin-bottom: 40px; margin-left: 0; }
.section-prophet .caption a {color: #a001ff; font-size: 18px;}
.section-prophet h2 { font-family: 'Mr De Haviland', cursive; font-size: 80px; font-weight: 300; margin-bottom: 10px; color: #000; }
.section-prophet p { font-size: 20px; font-weight: 300; color: #000;}
.section-prophet .col { max-width: 420px; float: right; }

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(0deg);  }
    to { -webkit-transform: rotate(360deg);  }
}
.section-astronomer { background: #38202e url(../images/space.jpg) no-repeat; background-size: cover; overflow: hidden; background-size: cover;
    padding: 90px 0 100px;
    overflow: hidden;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;}
.section-astronomer .container { position: relative; }
.section-astronomer .stars { position: absolute; left: -50%; background: url(../images/stars.png); display: block; width: 1500px; height: 800px; top:0;
    -webkit-animation-name:             rotate;
    -webkit-animation-duration:         40s;
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
    z-index: 100;
}
.section-astronomer h2 { font: 50px/50px 'Megrim', Georgia, serif; color: #fff; text-transform: uppercase; margin: 0 auto 40px auto; text-align: center; border-bottom: solid 1px rgba(255, 255, 255, .5); padding-bottom: 40px; width: 80%;}
.section-astronomer .avatar img { margin: 0 0 10px 20px; position: relative; z-index: 101;}
.section-astronomer .caption { margin: 0 0 40px 20px; color: #eee; position: relative; z-index: 102;}
.section-astronomer .caption a { color: #eee; }
.section-astronomer .caption a:hover { background-color: #e45546; }
.section-astronomer h2 { font-size: 46px; }
.section-astronomer p { -webkit-column-count: 1; -moz-column-count: 1; column-count: 1; }
.section-astronomer p { 
    font: 13px/30px 'Roboto Slab', Georgia, serif; 
    width: 80%; color: #fff; margin: 0 auto 12px auto; 
    border-bottom: solid 1px rgba(255, 255, 255, .5); 
    padding-bottom: 30px;
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
    letter-spacing: 0.03em;
    font-weight: 300;
}

.section-brain {transition: filter 0.5s ease; z-index: 9; position: relative; background: url(https://img.freepik.com/free-vector/hand-drawn-human-brain_53876-15740.jpg?w=740&t=st=1702232699~exp=1702233299~hmac=bd1ec4f6a591b68513d617dffe6364e97cb22147c971a5605d82b69a6e25029a) no-repeat; background-size: contain; padding: 90px 100px 100px;
    position: relative;
    overflow: hidden;
    background-position: right center;
    background-color: white;
    background-attachment: fixed !important;
    height: 75vh;
}
.section-brain .container {
    width: 550px;
    margin: initial;
}
.section-brain h2 { font: 70px/68px 'quartobold'; color: #730000; margin: 0 0 60px 20px;position: relative;z-index: 1; letter-spacing: 3px; text-transform: lowercase; }
.section-brain p {font-family: 'Ideal Sans Book';font-size: 18px;line-height: 2;font-weight: 100; }
.section-brain .caption { margin: 0 0 40px 20px; color: #000; }
.section-brain .caption a { color: #686868; }
.section-brain .caption a:hover { background-color: #0cf; }
.section-brain .container h2 a {
    color: #a83879;
}
.section-brain .author {
    font-family: quartobold;
    font-style: italic;
    color: #686868;
}

.section-grief-and-his-due { background: #000 url(https://images.unsplash.com/photo-1629197520776-26a23457ec4c?q=80&w=2048&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
.section-grief-and-his-due .container { width: 100%; overflow: hidden; padding: 2% 3%; box-sizing: border-box; }
.section-grief-and-his-due h2 { font: 90px/90px 'First Reign PERSONAL USE ONLY Regular'; color: #fff; text-align: center; letter-spacing: 2px; margin-top: 8%; }
.section-grief-and-his-due p {font: 20px/30px 'Amiri', serif; color: #fff; text-align: center; letter-spacing: .05em; margin: 60px auto 60px auto; max-width: 600px; font-style: italic;}
.section-grief-and-his-due .moral { font: 25px/35px 'Cinzel Decorative'; font-weight: 700; filter:alpha(opacity=70); opacity:.7; border-left: 2px solid #fff; border-right: 2px solid #fff; padding: 20px; }
.section-grief-and-his-due .tear { filter:alpha(opacity=50); opacity:.5; margin: 20px auto 0 auto;}
.section-grief-and-his-due .caption { margin: 0 0 50px; color: #fff; position: relative;  }
.section-grief-and-his-due .caption a { color: #fff; }
.section-grief-and-his-due .caption a:hover { background-color: #002D2D; }


@media(max-width: 768px) {
   .site-wrapper {
        display: none;
   }
   body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Libre Baskerville', 'Times New Roman', Times, serif;
   }
   .mobile-view h1 {
    width: 80%;
    display: block;
    color: white;
    text-align: center;
    margin: 0 auto;
   }
}

@media(min-width: 769px) {
    .mobile-view {
        display: none;
    }
}

.section-bird-bat {font: 1.05em/2em 'Muli', sans-serif; height: 100%; position: relative;  z-index: 9; transition: filter 0.5s ease; line-height: 1.5; background-color: #101010; color: #999; color: rgba(255,255,255,0.75); background-image: url(https://img.freepik.com/free-vector/vintage-illustrations-amethyst-woodestar_53876-77378.jpg?t=st=1702294254~exp=1702294854~hmac=b5e2e5c860c2b635c675dc090e198e3dea652906171a3683f1d6b3936d3b42a9); background-size: contain; background-attachment: fixed; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; -webkit-text-rendering: optimizeLegibility; text-rendering: optimizeLegibility; background-position: left; background-color: white;background-repeat: no-repeat;}
.section-bird-bat .container { width: 100%; overflow: hidden; padding: 40px 180px 140px; box-sizing: border-box; }
.section-bird-bat .caption { margin-bottom: 40px; margin-left: 0; }
.section-bird-bat .caption a {color: #78167e; font-size: 18px; font-style: oblique;}
.section-bird-bat h2 { font: 300 90px/90px 'Philosopher', sans-serif;  font-size: 80px; font-weight: 300; margin-bottom: 10px; color: #000; }
.section-bird-bat p { font-size: 20px; font-weight: 300; color: #000;}
.section-bird-bat .col { max-width: 50%; float: right; }
.section-bird-bat .moral {
    padding-top: 20px;
    font-style: oblique;
    font-family: 'Philosopher';
    font-size: 23px;
    color: #78167e;
}

.section-horse-groom{
	cursor: pointer; background-size:cover;overflow:hidden;padding:250px 300px 100px; }
.section-horse-groom h2{ font:60px/75px 'Alfa Slab One', cursive, sans-serif;color:#fff;text-transform:uppercase;letter-spacing:1.25px;text-align:left }
.section-horse-groom h2 .ampersand{ font:italic 48px 'Gentium Book Basic', serif;text-transform:none; }
.section-horse-groom p{ font:15px/30px 'Gentium Book Basic', serif;color:#e7e7e7;text-align:justify;width:40%;display:inline-block;float:left;padding:70px 0 0; }
.section-horse-groom blockquote{ color:#e7e7e7;display:inline-block;font:italic 400 30px/40px "Gentium Book Basic",serif;margin-right:0;text-align:right;width:50%;float:right;padding:80px 0 0; }
.section-horse-groom .avatar img { margin-bottom: 10px; }
.section-horse-groom .caption {position: relative; z-index: 3; margin-left: 0; color: #ffffff; }
.section-horse-groom .caption a { color: #ffffff; -o-transition: 0.2s;-ms-transition: 0.2s;-moz-transition: 0.2s;-webkit-transition: 0.2s;transition: 0.2s;
    font: 14px/16px 'Unica One', Helvetica, Arial, sans-serif;
    letter-spacing: .1em;
    color: #999;
    text-transform: uppercase;
    text-decoration: none; }
.section-horse-groom .caption a:hover { color: #ffffff; background-color: #eb534a; }
.section-horse-groom h2 {
    cursor: pointer;
    font-wight: 900;
    font-size: 80px;
    line-height: 1em;
    text-align: left;
    text-transform: uppercase;
    background: url('https://images.unsplash.com/flagged/photo-1579268351234-073f85929562?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: fixed;
    background-repeat: no-repeat;
    background-position: 0% 80%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-crow-raven { background-color: #4e081b; background-image: url(../images/crow.jpg); background-position: right; background-repeat: no-repeat; background-size: 400px; font-size: 85%; padding: 20% 1.25em; background-attachment: fixed; }
.section-crow-raven .meta { font-size: 100%; margin-bottom: 2em; position: relative; }
.section-crow-raven .wrapper { margin: 0 auto; max-width: 37.5em; position: relative; }
.section-crow-raven .caption { color: #aae6d9; display: inline-block; margin: 0 0 0 8px; position: relative; top: -12px; }
.section-crow-raven .caption a { color: #aae6d9; }
.section-crow-raven .caption a:hover { background-color: transparent; text-decoration: underline; }
.section-crow-raven h2 { color: #e5ca9d; font-family: 'Nixie One', 'Times New Roman', Times, serif; font-size: 4.375em; font-weight: 400; line-height: 1.07142857; margin-bottom: 0.5em; }
.section-crow-raven p { color: #c8cbc1; font-family: 'Libre Baskerville', 'Times New Roman', Times, serif; font-size: 1em; line-height: 1.75; margin-bottom: 1.75em; }
.section-crow-raven p:last-child { font-size: 1.75em; line-height: 1.5; margin-bottom: 0; text-indent: -0.4em; }
.section-crow-raven p:last-child:before { content: '\201c'; }
.section-crow-raven p:last-child:after { content: '\201d'; }
.section-crow-raven q:before, .section-crow-raven q q:before { content: open-quote; }
.section-crow-raven q:after, .section-crow-raven q q:after { content: close-quote; }
.section-crow-raven q { quotes: '\201c' '\201d' '\2018' '\2019'; }
@media only screen and ( min-width: 33.75em ) {
	.section-crow-raven { font-size: 100%; }
}
@media only screen and ( min-width: 33.75em ) {
	/* .section-crow-raven { background-size: 740px auto; } */
	.section-crow-raven p { padding-left: 25%; }
	.section-crow-raven p:last-child { padding-left: 0; }
}

.section-dream {

}
.section-dream { background-color: #041b23; padding: 90px 0 100px;}
.section-dream h2 { font: 70px/45px 'Deutsch Gothic', sans-serif; color: #ff2000; text-transform: uppercase; margin: 0 0 30px 20px; }
.section-dream h2 .ampersand { font: italic 32px 'Lora', Georgia, serif; text-transform: none; }
.section-dream p { font: 20px/45px 'Merriweather', Georgia, serif; max-width: 710px; color: #b2a85e;; margin: 0 0 12px 20px; }
.section-dream .avatar img { margin: 0 0 10px 20px; }
.section-dream .caption { margin: 0 0 40px 20px; color: #403E2F; }
.section-dream .caption a { color: #8a0000;}
.section-dream .caption a:hover { color: #403e2f; background-color: #b2a85e; }
.section-dream .ampersand {
    font-family: "initial";
    /* float: left; */
    font-size: 340%;
    margin-right: 0.05em;
    color: #602025;
    text-shadow: 3px 3px 2px #200040;
}
.section-dream .flex {
    display: flex;
}

.section-bee-jupiter { background-color: #F2D653; background: url(https://images.unsplash.com/photo-1604079628040-94301bb21b91?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); padding: 80px 0 120px 0; background-attachment: fixed; background-size: cover;}
.section-bee-jupiter .container { max-width: 800px; }
.section-bee-jupiter h2 { font: 5em 'Yeseva One', Georgia, serif; color: #37424A; text-transform: lowercase; text-align: right; width: 370px; letter-spacing: -0.04em; line-height: 1.1em; display: inline-block; vertical-align: top; }
.section-bee-jupiter h2 span { font: 0.67em 'Yeseva One', Georgia, serif; }
.section-bee-jupiter h3 { text-align: center; color: #37424A; font: 1.2em 'Merriweather', Times New Roman, serif; font-weight: 400; margin: 40px 0 50px 0; font-style: italic; }
.section-bee-jupiter p { text-align: justify; font: 300 0.8em/1.625em 'Merriweather Sans', Helvetica, sans-serif; color: #37424A; width: 390px; margin: 0 0 20px 25px; display: inline-block; padding-top: 1.2em;}
.section-bee-jupiter .avatar { margin-left: 20px; }
.section-bee-jupiter .caption { color: #da3;}
.section-bee-jupiter .caption a { color: #544; font-size: 12px; font: 14px/16px 'Unica One', Helvetica, Arial, sans-serif; }
.section-bee-jupiter .caption a:hover { background-color: #fff; }
.section-bee-jupiter .colophon { padding-bottom: 120px; }
.section-bee-jupiter .beesvg { display: block; width: 120px; text-align: center; margin: auto; }
.section-bee-jupiter hr { border-top: 1px dashed #37424A; border-bottom: none; margin-bottom: 20px; max-width: 780px; }
.section-bee-jupiter .beewithoutstinger { margin-bottom: 50px; }
.section-bee-jupiter .honeycombsvg { display: block; width: 35px; text-align: center; margin: 20px auto 0 auto; }

.section-pessoa {padding:40px; min-height:450px; background: url(https://images.unsplash.com/photo-1620641788421-7a1c342ea42e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat right center fixed;  -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; position: relative; }
.section-pessoa h2 { font: 300 90px/90px 'Philosopher', sans-serif; color:#fff; margin: 0 0 30px 0; max-width: 640px; }
.section-pessoa p{ font: 1.05em/2em 'Muli', sans-serif; color:#fff; max-width: 600px; letter-spacing: .02em; }
.section-pessoa .container{ max-width:960px; width:100%;position: relative;}
.section-pessoa .caption {color: #fff; margin: 0 0 60px 0; position: relative;}
.section-pessoa .caption a {color: #ab3c5a;}
.section-pessoa .caption a:hover {background: #da3; color:#38202e;}
.section-pessoa .txt h1 {
    font-size:150px;
    color:rgba(255,255,255,.2);
    background-image:url('https://images.unsplash.com/photo-1506792006437-256b665541e2?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size:cover;
    -webkit-background-clip:text;
    background-clip: text;
    animation: animate 50s linear infinite;
    font-family: 'Almendra', serif;
}
.section-pessoa .container {max-width: 1300px;}
@keyframes animate {
    0%{
        background-position: left 0px top 0px;
    }
    50%{
        background-position: left 900px top 0px;
    }
}
.section-pessoa::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.section-venus-cat { padding: 80px 0 160px 0; background-color: #ECEBE6; background: url(https://images.unsplash.com/photo-1603513492128-ba7bc9b3e143?q=80&w=1986&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat right center fixed; }
.section-venus-cat .container { background: url(../images/venus/cat-illo.png) 60px bottom no-repeat; padding-bottom: 80px; }
.section-venus-cat h2 { font: 120px/88px'Darumadrop One', sans-serif ; letter-spacing: -.03em; color: #2F2F2F; text-transform: uppercase; }
.section-venus-cat h2 span { font-size: 64px; line-height: 56px; text-transform: lowercase; display: block; margin-left: 80px; margin-top: 12px; color: #6B6A68;}
.section-venus-cat section { display: flex; flex-flow: row; margin-left: 300px; padding-top: 12px; padding-bottom: 24px;}
.section-venus-cat section p { width: 400px; padding-right: 32px; font: 15px/24px 'Roboto Serif', sans-serif; }
.section-venus-cat .caption a {    
    font: 14px/16px 'Unica One', Helvetica, Arial, sans-serif;
    letter-spacing: .1em;
    color: #999;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
}
.section-venus-cat .caption a:hover {
    background-color: #ddd;
    cursor: pointer;
}

.section-oak { padding: 30px 20px 200px 20px; background: white; }
.section-oak .container { text-align: center; }
.section-oak .caption { margin-bottom: 0; text-align: left; }
.section-oak .caption a {font-family: 'Atma'; color: #333; font-size: 20px; transition: color .3s  ease-in-out;}
.section-oak .caption a:hover {color: white; background: #c31;}
.section-oak h2 { padding-bottom: 50px; font: 50px/25px 'Astloch', sans-serif; font-weight: 700; uppercase; text-align: center; color: #c31; margin: 20px 20px 30px; }
.section-oak p { font: 23px/24px 'Vollkorn', serif; color: #333; width: 460px; text-align: center; margin: 0 auto; padding-bottom: 30px;}
.section-oak .oak-leaf { margin-top: 60px; }

.section-trees { background: #000 url("../images/land.jpg") no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
.section-trees .container { box-sizing: border-box; overflow: hidden; margin: 0 auto; max-width: 100%; padding: 60px 30px; }
.section-trees h2 { font: 400 76px/80px 'Oswald', sans-serif; color: #fff; letter-spacing: .02em; text-align: center; margin: 90px 0 40px 0; text-transform: uppercase; }
.section-trees p { color: #fff; width: 50%; margin: 0 auto; padding: 30px 0; border-bottom: 2px solid #fff; border-top: 2px solid #fff; }
.section-trees .caption { margin: 0; padding-top: 5px; color: #fff; }
.section-trees a { color: #fff; }
.section-trees a:hover { color: #000; }

.section-trees .poem span {
    font-size: 2em;
    line-height:1.2em;
    font: 400 22px/30px 'Quattrocento', sans-serif; 
}
   
.section-trees .init{padding: 0 27px}   
.section-trees .extra{
    padding: 0px 8px;
    margin: 2px 5px;
    background-color:gray;
    display:inline-block;
    color:pink;
}

.section-wolf-sheep-clothing { background-color: #5a5852; padding: 60px 20px 120px 20px; }
.section-wolf-sheep-clothing .caption { color: #a5a3a4; margin-bottom: 120px; }
.section-wolf-sheep-clothing .container { max-width: 750px; }
.section-wolf-sheep-clothing .container .flex { display: flex; justify-content: space-between; }
.section-wolf-sheep-clothing h2 { font: 110px/80px 'Shrikhand', Georgia, serif; color: #eb7b5b; margin-bottom: 40px; }
.section-wolf-sheep-clothing h2 .kern { letter-spacing: -.05em; }
.section-wolf-sheep-clothing h2 .sm-head { display: block; font: 58px/56px 'Sansita One', Georgia, serif; color: #d2bbc5; }
.section-wolf-sheep-clothing p { width: 45%; font: 18px/30px 'Scope One', Helvetica, Arial, sans-serif; color: #cfc1c1; max-width: 540px; hyphens: auto; text-align: justify; text-justify: inter-word; }
.section-wolf-sheep-clothing .caption {color: #fff; margin: 0 0 60px 0; position: relative;}
.section-wolf-sheep-clothing .caption a {color: pink;}
.section-wolf-sheep-clothing .caption a:hover {background: #eb7b5b; color:#38202e;}

.section-small {
    background: #000 url("https://images.unsplash.com/photo-1651860845501-5f7bb3bf8c81?q=80&w=1929&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; 

}
.section-small .container { box-sizing: border-box; overflow: hidden; margin: 0 auto; max-width: 100%; padding: 60px 30px; }
.section-small p {font-family: 'Aubrey', serif; font-size: 30px; text-align: center;}

div#accueil {
	background: #ecf6f8;
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.triangle_vert {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: -100px;
    margin-bottom: -200px;

    background: #e5f4d3;
    width: 120%;
    height: 300px;

    -webkit-animation: triangle_v 20s infinite cubic-bezier(.14,.36,.59,.9);
    -ms-animation: triangle_v 20s infinite cubic-bezier(.14,.36,.59,.9);
    animation: triangle_v 20s infinite cubic-bezier(.14,.36,.59,.9);
}

@-webkit-keyframes triangle_v {
    0% {	
        -webkit-transform: rotate(5deg) rotateZ(0deg) translate3d(2%,5%,0) rotateZ(0deg);
        -ms-transform: rotate(5deg) rotateZ(0deg) translate3d(2%,5%,0) rotateZ(0deg);
        transform: rotate(5deg) rotateZ(0deg) translate3d(2%,5%,0) rotateZ(0deg);
    }

    25% {
        -webkit-transform: rotate(7deg) rotateZ(90deg) translate3d(2%,5%,0) rotateZ(-90deg);
        -ms-transform: rotate(7deg) rotateZ(90deg) translate3d(2%,5%,0) rotateZ(-90deg);
        transform: rotate(7deg) rotateZ(90deg) translate3d(2%,5%,0) rotateZ(-90deg);
    }

    50% {	
        -webkit-transform: rotate(4deg) rotateZ(180deg) translate3d(2%,5%,0) rotateZ(-180deg);
        -ms-transform: rotate(4deg) rotateZ(180deg) translate3d(2%,5%,0) rotateZ(-180deg);
        transform: rotate(4deg) rotateZ(180deg) translate3d(2%,5%,0) rotateZ(-180deg);
    }

    75% {	
        -webkit-transform: rotate(2deg) rotateZ(270deg) translate3d(2%,5%,0) rotateZ(-270deg);
        -ms-transform: rotate(2deg) rotateZ(270deg) translate3d(2%,5%,0) rotateZ(-270deg);
        transform: rotate(2deg) rotateZ(270deg) translate3d(2%,5%,0) rotateZ(-270deg);
            }

    100% {	
        -webkit-transform: rotate(5deg) rotateZ(360deg) translate3d(2%,5%,0) rotateZ(-360deg);
        -ms-transform: rotate(5deg) rotateZ(360deg) translate3d(2%,5%,0) rotateZ(-360deg);
        transform: rotate(5deg) rotateZ(360deg) translate3d(2%,5%,0) rotateZ(-360deg);
    }
}


@-ms-keyframes triangle_v {
    0% {	
        -webkit-transform: rotate(5deg) rotateZ(0deg) translate3d(2%,5%,0) rotateZ(0deg);
        -ms-transform: rotate(5deg) rotateZ(0deg) translate3d(2%,5%,0) rotateZ(0deg);
        transform: rotate(5deg) rotateZ(0deg) translate3d(2%,5%,0) rotateZ(0deg);
    }

    25% {
        -webkit-transform: rotate(8deg) rotateZ(90deg) translate3d(2%,5%,0) rotateZ(-90deg);
        -ms-transform: rotate(8deg) rotateZ(90deg) translate3d(2%,5%,0) rotateZ(-90deg);
        transform: rotate(8deg) rotateZ(90deg) translate3d(2%,5%,0) rotateZ(-90deg);
    }

    50% {	
        -webkit-transform: rotate(4deg) rotateZ(180deg) translate3d(2%,5%,0) rotateZ(-180deg);
        -ms-transform: rotate(4deg) rotateZ(180deg) translate3d(2%,5%,0) rotateZ(-180deg);
        transform: rotate(4deg) rotateZ(180deg) translate3d(2%,5%,0) rotateZ(-180deg);
    }

    75% {	
        -webkit-transform: rotate(2deg) rotateZ(270deg) translate3d(2%,5%,0) rotateZ(-270deg);
        -ms-transform: rotate(2deg) rotateZ(270deg) translate3d(2%,5%,0) rotateZ(-270deg);
        transform: rotate(2deg) rotateZ(270deg) translate3d(2%,5%,0) rotateZ(-270deg);
            }

    100% {	
        -webkit-transform: rotate(5deg) rotateZ(360deg) translate3d(2%,5%,0) rotateZ(-360deg);
        -ms-transform: rotate(5deg) rotateZ(360deg) translate3d(2%,5%,0) rotateZ(-360deg);
        transform: rotate(5deg) rotateZ(360deg) translate3d(2%,5%,0) rotateZ(-360deg);
    }
}

@keyframes triangle_v {
    0% {	
        -webkit-transform: rotate(5deg) rotateZ(0deg) translate3d(2%,5%,0) rotateZ(0deg);
        -ms-transform: rotate(5deg) rotateZ(0deg) translate3d(2%,5%,0) rotateZ(0deg);
        transform: rotate(5deg) rotateZ(0deg) translate3d(2%,5%,0) rotateZ(0deg);
    }

    25% {
        -webkit-transform: rotate(8deg) rotateZ(90deg) translate3d(2%,5%,0) rotateZ(-90deg);
        -ms-transform: rotate(8deg) rotateZ(90deg) translate3d(2%,5%,0) rotateZ(-90deg);
        transform: rotate(8deg) rotateZ(90deg) translate3d(2%,5%,0) rotateZ(-90deg);
    }

    50% {	
        -webkit-transform: rotate(4deg) rotateZ(180deg) translate3d(2%,5%,0) rotateZ(-180deg);
        -ms-transform: rotate(4deg) rotateZ(180deg) translate3d(2%,5%,0) rotateZ(-180deg);
        transform: rotate(4deg) rotateZ(180deg) translate3d(2%,5%,0) rotateZ(-180deg);
    }

    75% {	
        -webkit-transform: rotate(2deg) rotateZ(270deg) translate3d(2%,5%,0) rotateZ(-270deg);
        -ms-transform: rotate(2deg) rotateZ(270deg) translate3d(2%,5%,0) rotateZ(-270deg);
        transform: rotate(2deg) rotateZ(270deg) translate3d(2%,5%,0) rotateZ(-270deg);
            }

    100% {	
        -webkit-transform: rotate(5deg) rotateZ(360deg) translate3d(2%,5%,0) rotateZ(-360deg);
        -ms-transform: rotate(5deg) rotateZ(360deg) translate3d(2%,5%,0) rotateZ(-360deg);
        transform: rotate(5deg) rotateZ(360deg) translate3d(2%,5%,0) rotateZ(-360deg);
    }
}


.triangle_rose {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -100px;
    margin-top: -150px;

    background: #f2dde6;
    width: 120%;
    height: 250px;

    transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    -ms-transform: rotate(7deg);

    -webkit-animation: triangle_r 20s infinite cubic-bezier(.14,.36,.59,.9);
    -ms-animation: triangle_r 20s infinite cubic-bezier(.14,.36,.59,.9);
    animation: triangle_r 20s infinite cubic-bezier(.14,.36,.59,.9);
}


@-webkit-keyframes triangle_r {
    0%   {	
        -webkit-transform: rotate(7deg) rotateZ(0deg) translate3d(2%,5%,0) rotateZ(0deg);
        -ms-transform: rotate(7deg) rotateZ(0deg) translate3d(2%,5%,0) rotateZ(0deg);
        transform: rotate(7deg) rotateZ(0deg) translate3d(2%,5%,0) rotateZ(0deg);
    }

    25% {
        -webkit-transform: rotate(3deg) rotateZ(90deg) translate3d(2%,5%,0) rotateZ(-90deg);
        -ms-transform: rotate(3deg) rotateZ(90deg) translate3d(2%,5%,0) rotateZ(-90deg);
        transform: rotate(3deg) rotateZ(90deg) translate3d(2%,5%,0) rotateZ(-90deg);
    }

    50% {	
        -webkit-transform: rotate(6deg) rotateZ(180deg) translate3d(2%,5%,0) rotateZ(-180deg);
        -ms-transform: rotate(6deg) rotateZ(180deg) translate3d(2%,5%,0) rotateZ(-180deg);
        transform: rotate(6deg) rotateZ(180deg) translate3d(2%,5%,0) rotateZ(-180deg);
    }

    75% {	
        -webkit-transform: rotate(9deg) rotateZ(270deg) translate3d(2%,5%,0) rotateZ(-270deg);
        -ms-transform: rotate(9deg) rotateZ(270deg) translate3d(2%,5%,0) rotateZ(-270deg);
        transform: rotate(9deg) rotateZ(270deg) translate3d(2%,5%,0) rotateZ(-270deg);
    }

    100% {	
        -webkit-transform: rotate(7deg) rotateZ(360deg) translate3d(2%,5%,0) rotateZ(-360deg);
        -ms-transform: rotate(7deg) rotateZ(360deg) translate3d(2%,5%,0) rotateZ(-360deg);
        transform: rotate(7deg) rotateZ(360deg) translate3d(2%,5%,0) rotateZ(-360deg);
    }
}

@-ms-keyframes triangle_r {
    0%   {	
        -webkit-transform: rotate(7deg) rotateZ(0deg) translate3d(2%,5%,0) rotateZ(0deg);
        -ms-transform: rotate(7deg) rotateZ(0deg) translate3d(2%,5%,0) rotateZ(0deg);
        transform: rotate(7deg) rotateZ(0deg) translate3d(2%,5%,0) rotateZ(0deg);
    }

    25% {
        -webkit-transform: rotate(3deg) rotateZ(90deg) translate3d(2%,5%,0) rotateZ(-90deg);
        -ms-transform: rotate(3deg) rotateZ(90deg) translate3d(2%,5%,0) rotateZ(-90deg);
        transform: rotate(3deg) rotateZ(90deg) translate3d(2%,5%,0) rotateZ(-90deg);
    }

    50% {	
        -webkit-transform: rotate(6deg) rotateZ(180deg) translate3d(2%,5%,0) rotateZ(-180deg);
        -ms-transform: rotate(6deg) rotateZ(180deg) translate3d(2%,5%,0) rotateZ(-180deg);
        transform: rotate(6deg) rotateZ(180deg) translate3d(2%,5%,0) rotateZ(-180deg);
    }

    75% {	
        -webkit-transform: rotate(9deg) rotateZ(270deg) translate3d(2%,5%,0) rotateZ(-270deg);
        -ms-transform: rotate(9deg) rotateZ(270deg) translate3d(2%,5%,0) rotateZ(-270deg);
        transform: rotate(9deg) rotateZ(270deg) translate3d(2%,5%,0) rotateZ(-270deg);
    }

    100% {	
        -webkit-transform: rotate(7deg) rotateZ(360deg) translate3d(2%,5%,0) rotateZ(-360deg);
        -ms-transform: rotate(7deg) rotateZ(360deg) translate3d(2%,5%,0) rotateZ(-360deg);
        transform: rotate(7deg) rotateZ(360deg) translate3d(2%,5%,0) rotateZ(-360deg);
    }
}

@keyframes triangle_r {
    0%   {	
        -webkit-transform: rotate(7deg) rotateZ(0deg) translate3d(2%,5%,0) rotateZ(0deg);
        -ms-transform: rotate(7deg) rotateZ(0deg) translate3d(2%,5%,0) rotateZ(0deg);
        transform: rotate(7deg) rotateZ(0deg) translate3d(2%,5%,0) rotateZ(0deg);
    }

    25% {
        -webkit-transform: rotate(3deg) rotateZ(90deg) translate3d(2%,5%,0) rotateZ(-90deg);
        -ms-transform: rotate(3deg) rotateZ(90deg) translate3d(2%,5%,0) rotateZ(-90deg);
        transform: rotate(3deg) rotateZ(90deg) translate3d(2%,5%,0) rotateZ(-90deg);
    }

    50% {	
        -webkit-transform: rotate(6deg) rotateZ(180deg) translate3d(2%,5%,0) rotateZ(-180deg);
        -ms-transform: rotate(6deg) rotateZ(180deg) translate3d(2%,5%,0) rotateZ(-180deg);
        transform: rotate(6deg) rotateZ(180deg) translate3d(2%,5%,0) rotateZ(-180deg);
    }

    75% {	
        -webkit-transform: rotate(9deg) rotateZ(270deg) translate3d(2%,5%,0) rotateZ(-270deg);
        -ms-transform: rotate(9deg) rotateZ(270deg) translate3d(2%,5%,0) rotateZ(-270deg);
        transform: rotate(9deg) rotateZ(270deg) translate3d(2%,5%,0) rotateZ(-270deg);
    }

    100% {	
        -webkit-transform: rotate(7deg) rotateZ(360deg) translate3d(2%,5%,0) rotateZ(-360deg);
        -ms-transform: rotate(7deg) rotateZ(360deg) translate3d(2%,5%,0) rotateZ(-360deg);
        transform: rotate(7deg) rotateZ(360deg) translate3d(2%,5%,0) rotateZ(-360deg);
    }
}


div#accueil .container {
    position: absolute;
    z-index: 10;
    top: 150px;
    margin-top: 0;
    width: 100%;
    height: 100px;
    text-align: center;
}

#accueil .text-wrapper {
    margin: 60px auto;
    width: 600px;
}

div#accueil h2 {
    font-family: 'argon';
    font-size: 90px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
#accueil p {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 100;
}
#accueil .text-wrapper p a {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 17px;
    line-height: 1.5;
    color: #111;
    text-decoration: none;
    font-weight: 400;
}

#accueil .text-wrapper h2 a {
    color: #598f7f;
    text-decoration: none;
    font-weight: 400;
    font-family: 'argon';
    font-size: 90px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.section-drops {
    position: relative;
    height: 100vh;
}
.section-drops .headline {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translateX(100%) translateY(-150%);
    text-align: center;
    font-family: 'Federant', serif;
    font-size: 30px;
    color: #e97272;
  }
  .section-drops .para {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateX(20%) translateY(-20%);
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 18px;
    color: #aba2a2;
  }
.section-drops .caption {
    float: right;
    padding-top: 50px;
}
.section-drops .caption a { color: #686868; transition: background .3s linear; }

.section-drops .caption a:hover { background-color: #0cf; color: black; }

#dot {
    position: absolute;
    height: 100px;
    width: 200px;
    top: 50%;
    left: 50%;
    transform: translateX(140%) translateY(200%);
    background-image: url(http://www.appladesign.net/domains/create/documents/dots_266.png);
    background-size: contain;
    background-repeat: repeat;
    z-index: 2;
}
#dot:before {
    content: "";
    position: absolute;
    height: 200px;
    width: 100px;
    top: 50%;
    left: 50%;
    transform: translateX(-850%) translateY(-280%);
    background-image: url(http://www.appladesign.net/domains/create/documents/dots_266.png);
    background-size: contain;
    background-repeat: repeat;
}

.section-drops #content {
    background: #fff;
    opacity: .5;
    border-radius: 10px;
    position: absolute;
    height: 90vh;
    top: 5vh;
    left: 5vw;
    width: 90vw;
    z-index: 9999;
}

#poem {
    width: 880px;
    height: 275px;
    margin: 40px auto;
    overflow: auto;
    text-align: left;
    background-color: #222;
    padding: 0 20px;
}
  
#poem::-webkit-scrollbar {
    width: 0.75em;
}
   
#poem::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
   
#poem::-webkit-scrollbar-thumb {
    background-color: #FFF;
    outline: 1px solid #111;
}
  
#app path {
    stroke: white;
    fill: black;
}

#app {
    font-family: 'Karma', serif;
    font-size: 27px;
    line-height: 1.4;
    background-color: black;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#app h1, #app h2 {
    font-family: 'Berkshire Swash', serif;
}